/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/**
 * @package     Skin "OtoboDarkSkin"
 * @section     Tables
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  General stuff
 */

.DataTable tbody tr:hover td,
.TableSmall tbody tr:hover td,
.DataTable tbody tr:active td.Clickable,
.TableSmall tbody tr:active td.Clickable,
.DataTable tr:nth-child(even):hover td.Highlight {
    background-color: #555;
}

/**
 * @subsection  Generic table elements
 */
.DataTable tr:hover,
.TableSmall tr:hover {
    color: #c8c6c4;
}

/**
 * @subsection  Standard DataTable
 */
.DataTable {
    background-color: #1f1f1f;
    border-color: #272727;
}

.DataTable thead {
    background: #333;
}

.DataTable thead th {
    color: #dbd9d7;
    background: #333;
    border-bottom-color: #333;
    border-right-color: #333;
}

.RTL .DataTable thead th {
    border-left-color: #333;
}

.DataTable thead th label {
    color: #4B4B4B !important;
}

.DataTable thead th a {
    color: #dbd9d7;
}

.DataTable tbody tr.Invalid {
    color: #555;
}

.DataTable tbody td {
    border-right-color: #333;
}

.RTL .DataTable tbody td {
    border-left-color: #333;
}

.DataTable tbody tr:hover td {
    border-right-color: #1f1f1f;
}

.DataTable tr:first td {
    border-top-color: #333;
}

.DataTable tr td.Highlight {
    background-color: #333;
}

.DataTable tr:nth-child(odd) td {
    background-color: #1f1f1f
}

.DataTable tr:nth-child(even) td {
    background-color: #242424;
}

.DataTable tr:nth-child(even) td.Highlight {
    background-color: #242424;
}

.DataTable tr td.Highlight {
    border-right-color: #333;
}

.DataTable tr:hover td a {
    color: #82c7ff;
}


/**
 * @subsection  QueueOverviewTotals DataTable
 */

 .DataTable .Row td.QueueOverviewTotals {
    color: #aaa;
    border-top-color: 1px dotted #333;
}

/**
 * @subsection  Sortable DataTable
 */

.Sortable.DataTable .SortAscending,
.Sortable.DataTable .SortDescending {
    border-top-color: #333;
    border-right-color: #333;
    border-bottom-color: #333;
}

/**
 * @subsection  Overview Small View Table
 */
.TableSmall {
    color: #c8c6c4;
    border-top-color: #333;
    border-bottom-color: #333;
    background: #1f1f1f;
}

.TableSmall thead th {
    border-right-color: #333;
    border-bottom-color: #333;
    background: #333;
}

.TableSmall thead a,
.TableSmall thead span {
    color: #dbd9d7;
}

.TableSmall thead span {
    color: #c8c6c4;
}

thead .SortAscending a,
thead .headerSortUp a,
thead .SortDescending a,
thead .headerSortDown a {
    color: #c8c6c4;
}

.TableSmall td {
    background-color: #242424;
    border-right-color: #272727;
}

.RTL .TableSmall td {
    border-left-color: #272727;
}

.TableSmall tbody tr.Active td,
.DataTable tbody tr.Active td {
    color: #c8c6c4;
}

.DataTable tbody tr.Active td {
    background-color: #272727;
}

.TableSmall tbody tr.Active td:last-child {
    border-right-color: #000;
}

.RTL .TableSmall tbody tr td:first-child {
    border-left-color: #272727;
}

.TableSmall tbody tr.Active td:first-child {
    border-left-color: #000;
}

.TableSmall td a {
    color: #c8c6c4;
}

.TableSmall tr:hover td a,
.TableSmall tr.Active td a {
    color: #c8c6c4;
}

.TableSmall td a.DynamicFieldLink {
    color: #FF7722;
}

.TableSmall tr:hover td a.DynamicFieldLink,
.TableSmall tr.Active td a.DynamicFieldLink {
    color: #1f1f1f;
}

.TableSmall tr:nth-child(even) td {
    background-color: #1f1f1f;
}

.TableSmall tbody td span.Direction i,
.DataTable tbody td span.Direction i {
    color: #555;
}

.TableSmall tbody td span.Direction.Incoming .fa-long-arrow-left,
.DataTable tbody td span.Direction.Incoming .fa-long-arrow-left,
.TableSmall tbody td span.Direction.Outgoing .fa-long-arrow-right,
.DataTable tbody td span.Direction.Outgoing .fa-long-arrow-right {
    color: #c8c6c4;
}

.TableSmall tbody td a.Attachment i,
.DataTable tbody td a.Attachment i {
    color: #c8c6c4;
}

/**
 * @subsection  Table Context Settings
 */

/**
 * @subsection  Ticket List Tables
 */

#ArticleTable thead {
    background: #f0f0f0;
    background: -moz-linear-gradient(top,  #f0f0f0 0%, #272727 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#272727));
    background: -webkit-linear-gradient(top,  #f0f0f0 0%,#272727 100%);
    background: -o-linear-gradient(top,  #f0f0f0 0%,#272727 100%);
    background: -ms-linear-gradient(top,  #f0f0f0 0%,#272727 100%);
    background: linear-gradient(to bottom,  #f0f0f0 0%,#272727 100%);
}

/**
 * @subsection  Handle for resizing tables
 */

/**
 * @subsection  Table headers-filters
 */
 .TableSmall thead span.Gray {
    color: #dbd9d7;
}

.ColumnFilter + .AJAXLoader {
    background-color: #333;
}

.DataTable thead .SortAscendingLarge a,
.DataTable thead .SortDescendingLarge a,
.TableSmall thead .SortAscendingLarge a,
.TableSmall thead .SortDescendingLarge a {
    color: #c8c6c4;
}

.DataTable thead .SortDescendingLarge > a:after,
.TableSmall thead .SortDescendingLarge > a:after {
    text-shadow: 1px 1px 0px #1f1f1f;
}

.DataTable thead .SortAscendingLarge > a:after,
.TableSmall thead .SortAscendingLarge > a:after {
    text-shadow: 1px 1px 0px #1f1f1f;
}

.DataTable thead th.DashboardHeader.FilterActive .ColumnSettingsTrigger i,
.DataTable thead th.DashboardHeader .ColumnSettingsTrigger.Active i,
.TableSmall thead th.OverviewHeader.FilterActive .ColumnSettingsTrigger i,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger.Active i {

    color: #c8c6c4;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox {
    background-color: #272727;
    border-color: #272727;
    box-shadow: 1px 1px 3px #333333, -1px -1px 3px #333333;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue {
    border-color: #333;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue a,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue a {
    background: #272727;
    color: #1f1f1f;
}

/* Delete filters */

/**
 * @subsection  Package manager
 */

/**
 * @subsection  Icons in tables
 */

tr:hover td i,
tr:hover td a i,
td a:hover i {
    color: #c8c6c4;
}

} /* end @media */
