/* OTOBO is a web-based ticketing system for service organisations. */

/**
 * @package     Skin "Default"
 * @section     Application
 * @subsection  AgentStatistics
 */

@media screen,projection,tv,handheld {

/**
 * @subsubsection     General
 */

.PreviewContainer .Preview {
	background: #272727;
	border-color: #333;
}

.PreviewSettings .CallForAction.Active {
    background-color: #c8c6c4;
    border-color: #c8c6c4;
    color: #1f1f1f;
}

} /* end @media */
