/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/**
 * @package     Skin "OtoboDarkSkin"
 * @section     OverviewMedium
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Medium View Overview
 */
#EmptyMessageMedium {
   border-color: #272727;
}

.OverviewMedium li {
    border-bottom-color: #272727;
    border-left-color: #272727;
    border-right-color: #272727;
}

.OverviewMedium li:first-child {
    border-top-color: #272727;
}

.OverviewMedium li ul.InlineActions {
    background-color: #141414;
}

.OverviewMedium li ul.InlineActions li a {
    color: #c8c6c4;
}

.OverviewMedium li div.Content {
    border-left-color: #1f1f1f;
}

.OverviewMedium li:nth-child(even) div.Content {
    border-left-color: #242424;
}

.OverviewMedium li:hover div.Content,
.OverviewMedium li:hover {
    border-left-color: #F6A72B !important;
}

.OverviewMedium li:last-child {
    border-bottom-color: #272727;
}

.OverviewMedium li:nth-child(odd) div.Content {
    background-color: #1f1f1f;
}

.OverviewMedium li:nth-child(even) {
    background-color: #242424;
}

.OverviewMedium div.Flag {
    border-color: #272727;
}

.OverviewMedium h2 a {
    color: #c8c6c4;
}

.OverviewMedium table.Infos td {
    border-right-color: #272727;
}

.OverviewMedium table.Infos td label {
    color: #999;
}

.OverviewMedium div.DynamicFieldSeparator {
    border-bottom-color: #272727;
}

} /* end @media */
