/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/**
 * @package     Skin "Default"
 * @section     Login screen
 */

@media screen,projection,tv,handheld {

.LoginScreen .SuccessBox {
    color: #c8c6c4;
}

.LoginScreen #Footer {
    text-shadow: 1px 1px 1px #000;
}

#Footer a span {
    transition: all ease 0.4s;
    opacity: 0.7;
}

#Footer a:hover {
    color: #c8c6c4;
}

/**
 * @subsection  Customizable logos
 */
 
} /* end @media */
