/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/**
 * @package     Skin "OtoboDarkSkin"
 * @section     Application
 * @subsection  Admin
 */

@media screen,projection,tv,handheld {

/**
 * @subsubsection     General
 */

.ItemListGrid > li {
    border-color: #333;
}

.ItemListGrid.WithIcons > li span.Title {
    color: #c8c6c4;
}

.ItemListGrid.WithIcons > li.Successful span.Title,
.ItemListGrid.WithIcons > li.Successful span.Icons i.Icon,
.ItemListGrid.WithIcons > li.Successful span.Icons i.Icon2 {
    color: #3fb950;
}

.ItemListGrid.WithIcons > li.Warning span.Title,
.ItemListGrid.WithIcons > li.Warning span.Icons i.Icon,
.ItemListGrid.WithIcons > li.Warning span.Icons i.Icon2 {
    color: #f6a72b;
}


.ItemListGrid.WithIcons > li.Failed span.Title,
.ItemListGrid.WithIcons > li.Failed span.Icons i.Icon,
.ItemListGrid.WithIcons > li.Failed span.Icons i.Icon2 {
    color: #da3633;
}

.ControlRow {
    background: #333;
}

.ControlRow li > a {
    color: #c8c6c4;
}

} /* end @media print*/
