/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

@media screen,projection,tv,handheld {

/**
 * @package     Skin "OtoboDarkSkin"
 * @section     General
 */

.AdminSupportDataCollector .CheckResultProblem p {
    background-color: #da3633;
    color: #ddd;
}

.AdminSupportDataCollector .CheckResultWarning p {
    background-color: #f6a72b;
    color: #1f1f1f;
}

} /* end @media */
