/* OTOBO is a web-based ticketing system for service organisations. */

/**
 * @package     Skin "Default"
 * @section     Header
 */

@media screen,projection,tv,handheld {

/**
 * @subsection      TicketMenu Level-0
 */

.Cluster ul ul {
    background: #272727;
    box-shadow: 1px 1px 3px #000;
}

.Cluster ul ul li {
    border-bottom: 1px solid #272727;
}

.Cluster ul ul li a:hover {
    background: #333;
}

} /* end @media */
